<div class="posts">
  {{#each posts}}
  <article class="post">
    <div class="control row space">
      <h2>
        <a href="/post/{{id}}">{{title}}</a>
      </h2>
      <div>
        Posted by {{User.username}} on {{format_date createdAt}}
      </div>
    </div>
    <div class="content">
      {{body}}
    </div>
  </article>
  {{/each}}
</div>