<div class="post">
  <article class="post">
    <div class="control row space">
      <h2>{{post.title}}</h2>
      <div>
        Posted by {{post.User.username}} on {{format_date post.createdAt}}
      </div>
    </div>
    <div class="content">
      {{post.body}}
    </div>
  </article>

  {{#if post.Comments}}
    <section class="post">
      <div class="control">
        <h2>Comments</h2>
      </div>

      <div class="content">
        {{#each post.Comments}}
          <div>
            <p>
              {{body}}
            </p>
            <p>
              &mdash; {{User.username}}, {{format_date createdAt}}
            </p>
          </div>
        {{/each}}
      </div>
    </section>
  {{/if}}

  <form id="new-comment-form" class="post">
    <div class="control">
      <h2>Add New Comment</h2>
    </div>

    <div class="content">
      <input type="hidden" name="post-id" value="{{post.id}}" />

      <label class="form" for="comment-body">Comment</label>

      <textarea name="comment-body" class="form-input"></textarea>

      <button type="submit" class="btn">Submit</button>
    </div>
  </form>
</div>

<script src="/javascript/comment.js"></script>